<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <!-- indicates that the server.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>


    <rewrite>
      <rules>
        <rule name="attendance-system">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

      </rules>

    </rewrite>
    <directoryBrowse enabled="true" />

    <!--iisnode
    devErrorsEnabled="true" debuggingEnabled="true" loggingEnabled="false"
    nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" /-->
    <iisnode
      enableXFF="true"
      devErrorsEnabled="true"
      debuggingEnabled="true"
      loggingEnabled="true"
      nodeProcessCommandLine="C:\utilities\node-v20.4.0-win-x64\node.exe --trace-deprecation"
      maxTotalLogFileSizeInKB="16384"
      maxLogFiles="80"
    />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
</configuration>